<?xml version="1.0" encoding="utf-8"?>
<configuration>
 
  <connectionStrings>
    <add name="DBConnection" connectionString="VWv0IiOcwCjxAMyG8uOgP61sbtN3tdhSzcbWV+PYdySj+cqy9eClWmFO+5adLr5N524YwI2Q2iIS1ljuhGiIQU3mn6oHPJ/XkjzqeGsO40Yx+YStFo2d+2KdJMAtq85G96xKC/G5Qrvcdla6h8O+bXxvUcSahxHto3aet68nbJKB40fk1vYbGOqCxasTrjrwNzcpdiChEaSJNwUr+3aaCA==" providerName="System.Data.SqlClient" />
    <add name="M1DBContext" connectionString="metadata=res://*/DL.M1.csdl|res://*/DL.M1.ssdl|res://*/DL.M1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=VAB047-NEWTON;Initial Catalog=EFDB;Persist Security Info=True;User ID=newton;Password=newton@16;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="M2DBContext" connectionString="metadata=res://*/DL.M2.csdl|res://*/DL.M2.ssdl|res://*/DL.M2.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=VAB047-NEWTON;Initial Catalog=EFDB;Persist Security Info=True;User ID=newton;Password=newton@16;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>